---
# tasks file for sudo

- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: true
  delegate_to: localhost

- name: Wait for port to be available
  ansible.builtin.wait_for:
    port: "{{ ansible_port | default('22') }}"
    timeout: "{{ sudo_timeout }}"
  become: false
  when:
    - ansible_connection is defined
    - ansible_connection not in [ "container", "docker", "community.docker.docker" ]
    - sudo_wait_for_host | bool

- name: Prepare system
  become: false
  block:
    - name: Test connection
      ansible.builtin.wait_for_connection:
        timeout: "{{ sudo_timeout }}"
      register: sudo_connect
      changed_when: false
  rescue:
    - name: Gather sudo facts
      ansible.builtin.include_tasks:
        file: gather_facts.yml

    - name: Install sudo packages (raw)
      ansible.builtin.raw: "{{ sudo_install.raw }}"
      register: sudo_install_packages
      changed_when:
        - (sudo_install.stdout_regex in sudo_install_packages.stdout and sudo_os_family in [ "Alpine", "Archlinux", "Gentoo" ]) or (sudo_install.stdout_regex
          not in sudo_install_packages.stdout and sudo_os_family in [ "Debian", "RedHat", "Rocky", "Suse" ])

- name: Ensure system is prepared
  become: false
  block:
    - name: Gather ansible facts
      ansible.builtin.setup:

    - name: Install sudo packages (package)
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop: "{{ sudo_facts_packages.split() }}"
